.item_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 10px;
}

.checkout_box{
    text-align: right;
    padding-right: 100px;
}

/* variable will trigger different class, depending on id */
/* I want to make this more dynamic */
.cart_images1{
    background-image: url(".././assets/pic1.png");
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
    cursor: pointer;
}

.cart_images2{
    background-image: url(".././assets/pic2.png");
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
    cursor: pointer;
}

.cart_images3{
    background-image: url(".././assets/pic3.png");
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
    cursor: pointer;
}
/* -------- */


.align{
    margin: auto;
    background-position: center;
}

.cart_fold{
    display:contents;
}


@media (max-width: 780px) {
    .cart_fold{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.item_container p {
    font-size: 14px;
    opacity: .7;
}

@media (max-width: 700px) {

    /* .item_container{
        flex-direction: column;
        align-items: center;
    } */
    /* button{
        width: 100px;
        text-align: center;
    } */

}

.item_container:nth-child(odd){
    background-color: #F4F4F9;
}

.buttons_container{
    margin: auto;
    margin-right: 0;
}