/* .product-container{
    text-align: center;
    height: 400px;
    width: 400px;
    margin: 20px;
} */

.product-container{
    text-align: center;
    margin: 20px;
}

.product-container, img{
    height: 100%;
    width: 100%;
}